body, html {
      height: 100%;
   }
  .background {
       height: 100%;
       background-color: #b3d9ff;
    }
   .list-group-item {
        background-color:#99ccff;
        border-radius: 45px;
        border-color:black;
        font-size: 25px;
        font-weight: bold;
    }
    .container{
        height: 100%;
        display: grid;        
        justify-content: center;
        align-items: center;
        text-align: center; 
        letter-spacing: 1px;
        margin-left: 475px;
   }
   h3{
        font-size: 25px;
    }
  